<p class="alert alert-info">The <em>Eintagsmessage</em> has been destroyed!</p>

<pre><%= @message.body%></pre>

<%= link_to 'Create new Eintagsmessage', messages_path, class: 'btn btn-lg btn-primary'%>